<footer class="footer">
    <small>
        Ruby_on_Rails Tutorial
        by Mechael
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %>
            <li><%= link_to "Contact", contact_path %>
            <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>